<div class="wrapper">

  <div class="section-1">
    <div class="part-1 align-items-end d-flex justify-content-center " *ngIf="enablePart1">
      <div class="tenor-gif-embed" data-postid="20250418" data-share-method="host" data-aspect-ratio="1"
        data-width="50%">
        <a href="https://tenor.com/view/peach-goma-gif-20250418">Peach Goma Sticker</a>
      </div>
    </div>

    <div class="part-2 gif-wrapper" [hidden]="!enablePart2">

      <div class="msg">
        <h1 appTypewriter class="interactionMsg"></h1>
      </div>
      <div [hidden]="checkValidNameCounter !== 0" class="tenor-gif-embed" data-postid="21959163"
        data-share-method="host" data-aspect-ratio="1" data-width="50%">
        <a href="https://tenor.com/view/tkthao219-bubududu-panda-gif-21959163">Tkthao219 Bubududu
          Sticker</a>
      </div>
      <div [hidden]="checkValidNameCounter !==1" class="tenor-gif-embed" data-postid="3741906134197657056"
        data-share-method="host" data-aspect-ratio="1" data-width="50%">
        <a
          href="https://tenor.com/en-IN/view/dudu-wearing-glasses-standing-nice-cute-funny-bear-gif-3741906134197657056">Tkthao219
          Bubududu
          Sticker</a>
      </div>
      <div [hidden]="checkValidNameCounter !==2" class="tenor-gif-embed" data-postid="2132781642126111018"
        data-share-method="host" data-aspect-ratio="1" data-width="50%">
        <a href="https://tenor.com/en-IN/view/bubu-dudu-bubu-dudu-bear-panda-gif-2132781642126111018">Tkthao219
          Bubududu
          Sticker</a>
      </div>
      <div [hidden]="checkValidNameCounter !==3" class="tenor-gif-embed" data-postid="4565820357144157227"
        data-share-method="host" data-aspect-ratio="1" data-width="50%">
        <a href="https://tenor.com/en-IN/view/bubududu-sseeyall-gif-4565820357144157227">Tkthao219 Bubududu
          Sticker</a>
      </div>
      <div [hidden]="checkValidNameCounter !==4" class="tenor-gif-embed" data-postid="12848429887936875665"
        data-share-method="host" data-aspect-ratio="1" data-width="50%">
        <a href="https://tenor.com/en-IN/view/bubu-dudu-sseeyall-gif-12848429887936875665">Tkthao219 Bubududu
          Sticker</a>
      </div>
      <div [hidden]="checkValidNameCounter < 5 || checkValidNameCounter >19" class="tenor-gif-embed"
        data-postid="15647425958952328582" data-share-method="host" data-aspect-ratio="1" data-width="50%">
        <a href="https://tenor.com/en-IN/view/sseeyall-bubu-dudu-gif-15647425958952328582">Tkthao219 Bubududu
          Sticker</a>
      </div>
      <div [hidden]="checkValidNameCounter !==20" class="tenor-gif-embed" data-postid="13779096733021884000"
        data-share-method="host" data-aspect-ratio="1" data-width="50%">
        <a href="https://tenor.com/view/dudu-hug-bubu-dudu-kiss-dudu-love-gif-13779096733021884000">Dudu Hug Bubu Dudu
          Kiss Sticker</a>
      </div>

      <div class="hint" *ngIf="enableHints">
        Hint :
        <span *ngIf="enableK" class="hint-letter">K</span>
        <span *ngIf="!enableK" class="hint-letter">&nbsp;&nbsp;</span>
        <span *ngIf="enableO" class="hint-letter">O</span>
        <span *ngIf="!enableO" class="hint-letter">&nbsp;&nbsp;</span>
        <span *ngIf="enableC" class="hint-letter">C</span>
        <span *ngIf="!enableC" class="hint-letter">&nbsp;&nbsp;</span>
        <span *ngIf="enableH" class="hint-letter">H</span>
        <span *ngIf="!enableH" class="hint-letter">&nbsp;&nbsp;</span>
      </div>

      <div class="name" *ngIf="showNameInput">
        <input type="text" placeholder="pls enter ur name....." [(ngModel)]="inputName">
        <i class="bi bi-check-square-fill enter-icon fs-1 ms-2" (click)="onNameSubmit()">
        </i>
      </div>
    </div>

    <div class="part-3" *ngIf="enablePart3" @fadeSwitch>
      <div [hidden]="gifsCounter !==1" class="tenor-gif-embed" data-postid="26196091" data-share-method="host"
        data-aspect-ratio="1.50235" data-width="50%"><a
          href="https://tenor.com/view/tkthao219-bubududu-gif-26196091">Tkthao219 Bubududu
          Sticker</a>from <a href="https://tenor.com/search/tkthao219-stickers">Tkthao219 Stickers</a></div>
      <div [hidden]="gifsCounter !==2" class="tenor-gif-embed" data-postid="12219747930029666314"
        data-share-method="host" data-aspect-ratio="1.49102" data-width="50%"><a
          href="https://tenor.com/view/sseeyall-bubu-dudu-gif-12219747930029666314">Sseeyall Bubu Dudu Sticker</a>from
      </div>
      <div [hidden]="gifsCounter !==3" class="tenor-gif-embed" data-postid="19861526" data-share-method="host"
        data-aspect-ratio="1.76796" data-width="50%"><a href="https://tenor.com/view/cute-bear-panda-gif-19861526">Cute
          Bear Sticker</a>from </div>
      <div [hidden]="gifsCounter !==4" class="tenor-gif-embed" data-postid="502521302726410722" data-share-method="host"
        data-aspect-ratio="1" data-width="50%"><a href="https://tenor.com/view/cute-gif-502521302726410722">Cute
          Sticker</a>from</div>
      <div [hidden]="gifsCounter !==5" class="tenor-gif-embed" data-postid="13135407215043576734"
        data-share-method="host" data-aspect-ratio="1.04622" data-width="50%"><a
          href="https://tenor.com/view/bubu-dudu-gif-13135407215043576734">Bubu Dudu Sticker</a>from</div>
      <div [hidden]="gifsCounter !==6" class="tenor-gif-embed" data-postid="13179295969555302837"
        data-share-method="host" data-aspect-ratio="1" data-width="50%"><a
          href="https://tenor.com/view/bubu-dudu-sseeyall-gif-13179295969555302837">Bubu Dudu
          Sseeyall Sticker</a>from <a href="https://tenor.com/search/bubu+dudu-stickers">Bubu Dudu Stickers</a></div>
      <div [hidden]="gifsCounter !==7" class="tenor-gif-embed" data-postid="4232353899743732903"
        data-share-method="host" data-aspect-ratio="1" data-width="50%"><a
          href="https://tenor.com/view/dudu-bubu-love-gif-peachugomu-gif-4232353899743732903">Dudu
          Bubu Love Gif Sticker</a>from</div>
      <div class="msg">
        <h1 appTypewriter class="interactionMsg"></h1>
      </div>
      <div class="align-items-center d-flex flex-column justify-content-center mt-3 quiz w-100"
        *ngIf="enableQuizSection">
        <div class="d-flex justify-content-between px-5 w-100" style="font-size: 20px;">
          <p>Q1 : {{currentQuestionNumber}}</p>
          <p><span style="font-weight: 800;color: #dc3545">{{rightCount}}</span>/5</p>
        </div>
        <div class="questions">
          <h2>{{currentQuestion}}</h2>
        </div>
        <div class="align-items-center d-flex flex-column justify-content-center mt-2 options-wrapper w-100">
          <div class="d-flex options-container">
            <div class="option option1" *ngFor="let option of currentOptions"
              (click)="onOptionClick(option,currentQuestionNumber-1)" [ngClass]="{
                'correct': selectedOption === option && isCorrect,
                'wrong': selectedOption === option && !isCorrect
            }">
              {{option}}
            </div>
            <!-- <div class="option option2">option1</div> -->
            <!-- </div> -->
            <!-- <div class="d-flex"> -->
            <!-- <div class="option option3">option1</div>
            <div class="option option4">option1</div> -->
          </div>
        </div>
      </div>



    </div>

    <div class="song" *ngIf="!audioStarted && showSongSection">
      <div *ngIf="!audioStarted && showSongSection"
        class="start-screen d-flex flex-column justify-content-center align-items-center">
        <div class="msg-4">
          <h1 appTypewriter class="interactionMsg"></h1>
        </div>
        <div class="d-flex gap-3">
          <button class="start rounded-3 mt-2" *ngIf="showSongBtns" (click)="onclickYes()">Yes ❤️</button>
          <button class="no rounded-3 mt-2" *ngIf="showSongBtns" (click)="onclickNo()">venda</button>
        </div>

      </div>
    </div>
    <div class="part-4" *ngIf="enablePart4" @fadeSwitch>
      <div [hidden]="true" class="tenor-gif-embed" data-postid="4232353899743732903" data-share-method="host"
        data-aspect-ratio="1" data-width="50%"><a
          href="https://tenor.com/view/dudu-bubu-love-gif-peachugomu-gif-4232353899743732903">Dudu
          Bubu Love Gif Sticker</a>from</div>
      <div class="msg-4">
        <h1 appTypewriter class="interactionMsg"></h1>
      </div>

      <div class="mobile-slideshow" *ngIf="!slideshowFinished1">
        <div class="slide" *ngFor="let item of imageList; let i = index"
          [@fadeInOut]="currentImageIndex === i ? 'visible' : 'hidden'">
          <img [src]="item.src" alt="slide image" />
          <p><em>{{ item.caption }}</em></p>
        </div>
      </div>
      <div class="mobile-slideshow2" *ngIf="slideshowFinished1 && !slideshowFinished2">
        <div class="slide2" *ngFor="let item of imageList2; let j = index"
          [@fadeInOut]="currentImageIndex2 === j ? 'visible' : 'hidden'">
          <img [src]="item.src" alt="slide image" />
          <p><em>{{ item.caption }}</em></p>
        </div>
      </div>

    </div>
    <div class="part-5" *ngIf="enablePart5">
      <div [hidden]="true" class="tenor-gif-embed" data-postid="4232353899743732903" data-share-method="host"
        data-aspect-ratio="1" data-width="50%"><a
          href="https://tenor.com/view/dudu-bubu-love-gif-peachugomu-gif-4232353899743732903">Dudu
          Bubu Love Gif Sticker</a>from</div>
      <div class="msg-4">
        <h1 appTypewriter class="interactionMsg"></h1>
      </div>
    </div>
    <div class="last" *ngIf="enableLast">
      <div class="msg-last" style="z-index: 9999;">
        <h1 appTypewriter class="interactionMsg"></h1>
      </div>
      <div class="night bg-black" ></div>
  <div class="flowers mt-auto">
    <div class="flower flower--1">
      <div class="flower__leafs flower__leafs--1">
        <div class="flower__leaf flower__leaf--1"></div>
        <div class="flower__leaf flower__leaf--2"></div>
        <div class="flower__leaf flower__leaf--3"></div>
        <div class="flower__leaf flower__leaf--4"></div>
        <div class="flower__white-circle"></div>

        <div class="flower__light flower__light--1"></div>
        <div class="flower__light flower__light--2"></div>
        <div class="flower__light flower__light--3"></div>
        <div class="flower__light flower__light--4"></div>
        <div class="flower__light flower__light--5"></div>
        <div class="flower__light flower__light--6"></div>
        <div class="flower__light flower__light--7"></div>
        <div class="flower__light flower__light--8"></div>

      </div>
      <div class="flower__line">
        <div class="flower__line__leaf flower__line__leaf--1"></div>
        <div class="flower__line__leaf flower__line__leaf--2"></div>
        <div class="flower__line__leaf flower__line__leaf--3"></div>
        <div class="flower__line__leaf flower__line__leaf--4"></div>
        <div class="flower__line__leaf flower__line__leaf--5"></div>
        <div class="flower__line__leaf flower__line__leaf--6"></div>
      </div>
    </div>

    <div class="flower flower--2">
      <div class="flower__leafs flower__leafs--2">
        <div class="flower__leaf flower__leaf--1"></div>
        <div class="flower__leaf flower__leaf--2"></div>
        <div class="flower__leaf flower__leaf--3"></div>
        <div class="flower__leaf flower__leaf--4"></div>
        <div class="flower__white-circle"></div>

        <div class="flower__light flower__light--1"></div>
        <div class="flower__light flower__light--2"></div>
        <div class="flower__light flower__light--3"></div>
        <div class="flower__light flower__light--4"></div>
        <div class="flower__light flower__light--5"></div>
        <div class="flower__light flower__light--6"></div>
        <div class="flower__light flower__light--7"></div>
        <div class="flower__light flower__light--8"></div>

      </div>
      <div class="flower__line">
        <div class="flower__line__leaf flower__line__leaf--1"></div>
        <div class="flower__line__leaf flower__line__leaf--2"></div>
        <div class="flower__line__leaf flower__line__leaf--3"></div>
        <div class="flower__line__leaf flower__line__leaf--4"></div>
      </div>
    </div>

    <div class="flower flower--3">
      <div class="flower__leafs flower__leafs--3">
        <div class="flower__leaf flower__leaf--1"></div>
        <div class="flower__leaf flower__leaf--2"></div>
        <div class="flower__leaf flower__leaf--3"></div>
        <div class="flower__leaf flower__leaf--4"></div>
        <div class="flower__white-circle"></div>

        <div class="flower__light flower__light--1"></div>
        <div class="flower__light flower__light--2"></div>
        <div class="flower__light flower__light--3"></div>
        <div class="flower__light flower__light--4"></div>
        <div class="flower__light flower__light--5"></div>
        <div class="flower__light flower__light--6"></div>
        <div class="flower__light flower__light--7"></div>
        <div class="flower__light flower__light--8"></div>

      </div>
      <div class="flower__line">
        <div class="flower__line__leaf flower__line__leaf--1"></div>
        <div class="flower__line__leaf flower__line__leaf--2"></div>
        <div class="flower__line__leaf flower__line__leaf--3"></div>
        <div class="flower__line__leaf flower__line__leaf--4"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:1.2s">
      <div class="flower__g-long">
        <div class="flower__g-long__top"></div>
        <div class="flower__g-long__bottom"></div>
      </div>
    </div>

    <div class="growing-grass">
      <div class="flower__grass flower__grass--1">
        <div class="flower__grass--top"></div>
        <div class="flower__grass--bottom"></div>
        <div class="flower__grass__leaf flower__grass__leaf--1"></div>
        <div class="flower__grass__leaf flower__grass__leaf--2"></div>
        <div class="flower__grass__leaf flower__grass__leaf--3"></div>
        <div class="flower__grass__leaf flower__grass__leaf--4"></div>
        <div class="flower__grass__leaf flower__grass__leaf--5"></div>
        <div class="flower__grass__leaf flower__grass__leaf--6"></div>
        <div class="flower__grass__leaf flower__grass__leaf--7"></div>
        <div class="flower__grass__leaf flower__grass__leaf--8"></div>
        <div class="flower__grass__overlay"></div>
      </div>
    </div>

    <div class="growing-grass">
      <div class="flower__grass flower__grass--2">
        <div class="flower__grass--top"></div>
        <div class="flower__grass--bottom"></div>
        <div class="flower__grass__leaf flower__grass__leaf--1"></div>
        <div class="flower__grass__leaf flower__grass__leaf--2"></div>
        <div class="flower__grass__leaf flower__grass__leaf--3"></div>
        <div class="flower__grass__leaf flower__grass__leaf--4"></div>
        <div class="flower__grass__leaf flower__grass__leaf--5"></div>
        <div class="flower__grass__leaf flower__grass__leaf--6"></div>
        <div class="flower__grass__leaf flower__grass__leaf--7"></div>
        <div class="flower__grass__leaf flower__grass__leaf--8"></div>
        <div class="flower__grass__overlay"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:2.4s">
      <div class="flower__g-right flower__g-right--1">
        <div class="leaf"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:2.8s">
      <div class="flower__g-right flower__g-right--2">
        <div class="leaf"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:2.8s">
      <div class="flower__g-front">
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--1">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--2">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--3">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--4">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--5">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--6">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--7">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--8">
          <div class="flower__g-front__leaf"></div>
        </div>
        <div class="flower__g-front__line"></div>
      </div>
    </div>

    <div class="grow-ans" style="--d:3.2s">
      <div class="flower__g-fr">
        <div class="leaf"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--1"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--2"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--3"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--4"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--5"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--6"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--7"></div>
        <div class="flower__g-fr__leaf flower__g-fr__leaf--8"></div>
      </div>
    </div>

    <div class="long-g long-g--0">
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:2.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3.4s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--1">
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:3.8s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--2">
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:4.4s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:4.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--3">
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--4">
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--5">
      <div class="grow-ans" style="--d:4s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--6">
      <div class="grow-ans" style="--d:4.2s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:4.4s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:4.6s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:4.8s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>

    <div class="long-g long-g--7">
      <div class="grow-ans" style="--d:3s">
        <div class="leaf leaf--0"></div>
      </div>
      <div class="grow-ans" style="--d:3.2s">
        <div class="leaf leaf--1"></div>
      </div>
      <div class="grow-ans" style="--d:3.5s">
        <div class="leaf leaf--2"></div>
      </div>
      <div class="grow-ans" style="--d:3.6s">
        <div class="leaf leaf--3"></div>
      </div>
    </div>
  </div>
    </div>

  </div>